<!--The content below is only a placeholder and can be replaced.-->
<section class="container">
  <div class="raw d-flex justify-content-center">
    <div class="col-md-12 col-md-8 col-xl-6">
        <div class="header">Angular TODO</div>
        <!-- list of tasks -->
        <div class="list" *ngIf="todos.length">
          <div class="task" *ngFor="let todo of todos">
            <div class="group-1">
              <!-- finish task -->
              <i class="{{ !todo.completed ? 'box far fa-square' : 'box-checked fas fa-check-square' }}" (click)="toggle(todo)"></i>
              <span class="{{ !todo.completed ? 'title' : 'title completed' }}">{{ todo.title }}</span>
            </div>
            <div class="group-2">
              <!-- edit task -->
              <i class="edit fas fa-pencil-alt"></i>
              <!-- delete task -->
              <i class="delete fas fa-trash" (click)="delete(todo)"></i>
            </div>
          </div>
        </div>
        <!-- add task -->
        <form class="add-form" (ngSubmit)="add(); addForm.reset()" #addForm="ngForm">
          <input type="text" [(ngModel)]="newTask" class="new-task" name="new-task" placeholder="Your task..." required>
          <input type="submit" class="add-new-task" value="Add task" [disabled]="addForm.form.invalid">
        </form>
    </div>
  </div>
</section>
<router-outlet></router-outlet>